.img-logo {
    width: 100%;
    margin-left: 10%;
}

.nav-home{
    

}

.header{
    background-image: url("../assest/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 308px;
}

.header-primary{
    padding-bottom: 45px;
}

.header-text{
    font-size: 1.3rem;
}

.header-button{
    width: 140px;
    border-radius: 8px;
}