.img-logo {
    width: 100%;
    margin-left: 10%;
}

.primary-home{
    position: absolute;
    color: white;
    
}

/* CABEÇALHO IMAGEM */
.header{
    background-color: #42B5A2;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 360px;
}

.header-primary{
    padding-bottom: 45px;
}

.header-button{
    width: 140px;
    border-radius: 8px;
}

.header-tittle{
    font-size: 1.3rem;
}

/* SEÇÃO PROJETO DA PAG HOME */
.projeto-secao{
    margin-top: 55px;
}

.tittle-project{
    margin-bottom: 20px;

}
