.header-index {
  background-image: url("../assest/banner.jpg");
  background-size: cover;
  height: 30rem;
}

.header-nav {
  height: 8rem;
}

.header-btn {
  background-color:  #EA3963;
  
}

.header-text {
  padding: 3%;
}

.bg-green {
  background-color: rgba(33, 166, 144, 0.534);
  height: 30rem;
}

.img-logo {
    width: 120px;
  }
  
  .contato-img {
    margin-right: 10px;
  }
  
  .img-redes {
    padding: 5px;
  }
  
  @media screen and (max-width: 768px){
    .footer {
      align-content: center;
    }
    .footer-div {
      display: block;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-1 {
      display: table;
      justify-content: center;
    }
  
    .nav-2 {
      display: flex;
    }
  
    .nav-3 .nav-4 {
      display: block;
       justify-content: center;
    }

    .nav-link-barra {
      display: none;
    }
  
  }

  .container-menor {
    width: 70%;
    margin: 0 auto;
}

.contato {
    background-color: #E7EBF4;
}

.contato .form-group {
    margin: 0;
}

.contato .form-control {
    padding: 30px;
}

.contato .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px; 
}

.contato .btn {
    border-radius: 20px;
    padding: 7px 40px;
    font-weight: bold;
    border-style: none;
    background-color: #EA3963;
}

.error {
    color: red;
    padding-left: 30px;
}