
.img-logo {
    width: 100%;
  }
  
  .contato-img {
    margin-right: 10px;
  }
  
  .img-redes {
    padding: 5px;
  }
  
  
  
  footer {
    margin-top: 5rem;
  }
  @media screen and (max-width: 768px){
    .footer {
      align-content: center;
    }
    .footer-div {
      display: block;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-1 {
      display: table;
      justify-content: center;
    }
  
    .nav-2 {
      display: flex;
    }
  
    .nav-3 .nav-4 {
      display: block;
       justify-content: center;
    }
  
  }