.container-menor {
    width: 70%;
    margin: 0 auto;
}

.contato {
    background-color: #E7EBF4;
}

.contato .form-group {
    margin: 0;
}

.contato .form-control {
    padding: 30px;
}

.contato .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px; 
}

.contato .btn {
    border-radius: 20px;
    padding: 7px 40px;
    font-weight: bold;
    border-style: none;
    background-color: #EA3963;
}

.error {
    color: red;
    padding-left: 30px;
}